.specs {
    width: 90%;
}

.img-wrapper {
    width: 100%;
}

.details iframe {
    all: initial;
    width: 100%;
    height: 450px;
}

.details img {
    width: 100%;
    height: 280px;
    max-width: 500px;
    margin-bottom: 20px;
}

map {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (min-width: 900px) {
    .specs {
        width: 95%;
    }

    .details {
        display: flex;
        flex-flow: row;
    }
}